In [1]:
#Let's bring in some packages

import numpy as np
import pandas as pd

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [2]:
#Let's read in some data!

FILE = r"C:\Users\jaysa\OneDrive\Desktop\Practical Machine Learning\Transform Assignment\HMEQ_Loss.csv"

df = pd.read_csv( FILE, encoding="ISO-8859-1" )

df = pd.read_csv( FILE )

dt = df.dtypes
dt

TARGET_BAD_FLAG      int64
TARGET_LOSS_AMT    float64
LOAN                 int64
MORTDUE            float64
VALUE              float64
REASON              object
JOB                 object
YOJ                float64
DEROG              float64
DELINQ             float64
CLAGE              float64
NINQ               float64
CLNO               float64
DEBTINC            float64
dtype: object

In [7]:
#Part of the transformation process will be to remove the target and categorical variables. Let's do that!

TARGET1 = "TARGET_BAD_FLAG"
TARGET2 = "TARGET_LOSS_AMT"
TARGET3 = "REASON"
TARGET4 = "JOB"

X = df.copy()
X = X.drop( [TARGET1], axis=1 )
X = X.drop( [TARGET2], axis=1 )
X = X.drop( [TARGET3], axis=1 )
X = X.drop( [TARGET4], axis=1 )
varNames = X.columns

print( X.head() )
print( X.describe() )
print( "\n")

   LOAN  MORTDUE     VALUE   YOJ  DEROG  DELINQ       CLAGE  NINQ  CLNO  \
0  1100  25860.0   39025.0  10.5    0.0     0.0   94.366667   1.0   9.0
1  1300  70053.0   68400.0   7.0    0.0     2.0  121.833333   0.0  14.0
2  1500  13500.0   16700.0   4.0    0.0     0.0  149.466667   1.0  10.0
3  1500      NaN       NaN   NaN    NaN     NaN         NaN   NaN   NaN
4  1700  97800.0  112000.0   3.0    0.0     0.0   93.333333   0.0  14.0

   DEBTINC
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
               LOAN        MORTDUE          VALUE          YOJ        DEROG  \
count   5960.000000    5442.000000    5848.000000  5445.000000  5252.000000
mean   18607.969799   73760.817200  101776.048741     8.922268     0.254570
std    11207.480417   44457.609458   57385.775334     7.573982     0.846047
min     1100.000000    2063.000000    8000.000000     0.000000     0.000000
25%    11100.000000   46276.000000   66075.500000     3.000000     0.000000
50%    16300.000000   65019.000000   89235.500000     7.000000     0.000000
75%    23300.000000   91488.000000  119824.250000    13.000000     0.000000
max    89900.000000  399550.000000  855909.000000    41.000000    10.000000

            DELINQ        CLAGE         NINQ         CLNO      DEBTINC
count  5380.000000  5652.000000  5450.000000  5738.000000  4693.000000
mean      0.449442   179.766275     1.186055    21.296096    33.779915
std       1.127266    85.810092     1.728675    10.138933     8.601746
min       0.000000     0.000000     0.000000     0.000000     0.524499
25%       0.000000   115.116702     0.000000    15.000000    29.140031
50%       0.000000   173.466667     1.000000    20.000000    34.818262
75%       0.000000   231.562278     2.000000    26.000000    39.003141
max      15.000000  1168.233561    17.000000    71.000000   203.312149

In [9]:
#Great! Now let's normalize the data!

print(" NORMALIZING THE DATA \n\n\n")
theScaler = MinMaxScaler() #scale between 0 and 1
theScaler.fit( X )

X_MINMAX = theScaler.transform( X )
X_MINMAX = pd.DataFrame( X_MINMAX )

varNames_minmax = []
for i in varNames :
    newName = "nor_" + i
    varNames_minmax.append( newName )
print( varNames_minmax )
print( "\n")

X_MINMAX.columns = varNames_minmax
print( X_MINMAX.head() )
print( "\n")

print( X_MINMAX.describe() )
print( "\n")

 NORMALIZING THE DATA



['nor_LOAN', 'nor_MORTDUE', 'nor_VALUE', 'nor_YOJ', 'nor_DEROG', 'nor_DELINQ', 'nor_CLAGE', 'nor_NINQ', 'nor_CLNO', 'nor_DEBTINC']


   nor_LOAN  nor_MORTDUE  nor_VALUE   nor_YOJ  nor_DEROG  nor_DELINQ  \
0  0.000000     0.059869   0.036590  0.256098        0.0    0.000000
1  0.002252     0.171050   0.071234  0.170732        0.0    0.133333
2  0.004505     0.028773   0.010261  0.097561        0.0    0.000000
3  0.004505          NaN        NaN       NaN        NaN         NaN
4  0.006757     0.240856   0.122655  0.073171        0.0    0.000000

   nor_CLAGE  nor_NINQ  nor_CLNO  nor_DEBTINC
0   0.080777  0.058824  0.126761          NaN
1   0.104289  0.000000  0.197183          NaN
2   0.127942  0.058824  0.140845          NaN
3        NaN       NaN       NaN          NaN
4   0.079893  0.000000  0.197183          NaN


          nor_LOAN  nor_MORTDUE    nor_VALUE      nor_YOJ    nor_DEROG  \
count  5960.000000  5442.000000  5848.000000  5445.000000  5252.000000
mean      0.197162     0.180378     0.110597     0.217616     0.025457
std       0.126210     0.111847     0.067679     0.184731     0.084605
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.112613     0.111231     0.068493     0.073171     0.000000
50%       0.171171     0.158385     0.095807     0.170732     0.000000
75%       0.250000     0.224976     0.131882     0.317073     0.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

        nor_DELINQ    nor_CLAGE     nor_NINQ     nor_CLNO  nor_DEBTINC
count  5380.000000  5652.000000  5450.000000  5738.000000  4693.000000
mean      0.029963     0.153879     0.069768     0.299945     0.163991
std       0.075151     0.073453     0.101687     0.142802     0.042418
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.098539     0.000000     0.211268     0.141111
50%       0.000000     0.148486     0.058824     0.281690     0.169112
75%       0.000000     0.198216     0.117647     0.366197     0.189748
max       1.000000     1.000000     1.000000     1.000000     1.000000

In [10]:
#Oh so normal! Let's bring back the target and categorical variables that couldn't be normalized.

X_MINMAX[ "TARGET_BAD_FLAG" ] = df.TARGET_BAD_FLAG
X_MINMAX[ "TARGET_LOSS_AMT" ] = df.TARGET_LOSS_AMT
X_MINMAX[ "REASON" ] = df.REASON
X_MINMAX[ "JOB" ] = df.JOB
print( X_MINMAX.head() )
print( "\n\n")

   nor_LOAN  nor_MORTDUE  nor_VALUE   nor_YOJ  nor_DEROG  nor_DELINQ  \
0  0.000000     0.059869   0.036590  0.256098        0.0    0.000000
1  0.002252     0.171050   0.071234  0.170732        0.0    0.133333
2  0.004505     0.028773   0.010261  0.097561        0.0    0.000000
3  0.004505          NaN        NaN       NaN        NaN         NaN
4  0.006757     0.240856   0.122655  0.073171        0.0    0.000000

   nor_CLAGE  nor_NINQ  nor_CLNO  nor_DEBTINC  TARGET_BAD_FLAG  \
0   0.080777  0.058824  0.126761          NaN                1
1   0.104289  0.000000  0.197183          NaN                1
2   0.127942  0.058824  0.140845          NaN                1
3        NaN       NaN       NaN          NaN                1
4   0.079893  0.000000  0.197183          NaN                0

   TARGET_LOSS_AMT   REASON     JOB
0            641.0  HomeImp   Other
1           1109.0  HomeImp   Other
2            767.0  HomeImp   Other
3           1425.0      NaN     NaN
4              NaN  HomeImp  Office

In [13]:
#Groovy! I feel so normal. What happens if we try to normalize something without the minmax scaler?

X_NEW = pd.concat([ X , X_MINMAX ], axis=1 )

X_TEST = X_NEW[ ["LOAN", "nor_LOAN" ] ]
print( X_TEST.head() ) 
print( "\n")
print( X_TEST["LOAN"].describe() )
print( "\n")
TEMP = ( X_TEST["LOAN"] - 1100 ) / ( 89900 - 1100 )
X_TEST = X_TEST.assign( calc_LOAN = TEMP.values )
print( X_TEST.head() ) 
print( "\n")

   LOAN  nor_LOAN
0  1100  0.000000
1  1300  0.002252
2  1500  0.004505
3  1500  0.004505
4  1700  0.006757


count     5960.000000
mean     18607.969799
std      11207.480417
min       1100.000000
25%      11100.000000
50%      16300.000000
75%      23300.000000
max      89900.000000
Name: LOAN, dtype: float64


   LOAN  nor_LOAN  calc_LOAN
0  1100  0.000000   0.000000
1  1300  0.002252   0.002252
2  1500  0.004505   0.004505
3  1500  0.004505   0.004505
4  1700  0.006757   0.006757

In [15]:
#Still works! Let's Standardize the data now.

print(" STANDARDIZING THE DATA \n\n")

theScaler = StandardScaler() #Standardizes between -3 and +3 (usually). Great for cluster analysis
theScaler.fit( X )

Y_STD = theScaler.transform( X )
Y_STD = pd.DataFrame( Y_STD )

varNames_std = []
for i in varNames :
    newName = "std_" + i
    varNames_std.append( newName )

Y_STD.columns = varNames_std
print( Y_STD.head() )
print( "\n")

print( Y_STD.describe() )
print( "\n")

 STANDARDIZING THE DATA


   std_LOAN  std_MORTDUE  std_VALUE   std_YOJ  std_DEROG  std_DELINQ  \
0 -1.562299    -1.077548  -1.093588  0.208329  -0.300922   -0.398738
1 -1.544453    -0.083409  -0.581658 -0.253822  -0.300922    1.375631
2 -1.526606    -1.355591  -1.482655 -0.649951  -0.300922   -0.398738
3 -1.526606          NaN        NaN       NaN        NaN         NaN
4 -1.508759     0.540771   0.178177 -0.781994  -0.300922   -0.398738

   std_CLAGE  std_NINQ  std_CLNO  std_DEBTINC
0  -0.995304 -0.107639 -1.212866          NaN
1  -0.675189 -0.686169 -0.719675          NaN
2  -0.353132 -0.107639 -1.114228          NaN
3        NaN       NaN       NaN          NaN
4  -1.007348 -0.686169 -0.719675          NaN


           std_LOAN   std_MORTDUE     std_VALUE       std_YOJ     std_DEROG  \
count  5.960000e+03  5.442000e+03  5.848000e+03  5.445000e+03  5.252000e+03
mean  -1.522868e-15 -1.790189e-16 -4.884089e-16 -3.400402e-16 -4.777426e-17
std    1.000084e+00  1.000092e+00  1.000086e+00  1.000092e+00  1.000095e+00
min   -1.562299e+00 -1.612871e+00 -1.634274e+00 -1.178124e+00 -3.009218e-01
25%   -6.699632e-01 -6.182821e-01 -6.221681e-01 -7.819944e-01 -3.009218e-01
50%   -2.059485e-01 -1.966507e-01 -2.185493e-01 -2.538222e-01 -3.009218e-01
75%    4.186868e-01  3.987801e-01  3.145334e-01  5.384362e-01 -3.009218e-01
max    6.361645e+00  7.328759e+00  1.314259e+01  4.235642e+00  1.151988e+01

         std_DELINQ     std_CLAGE      std_NINQ      std_CLNO   std_DEBTINC
count  5.380000e+03  5.652000e+03  5.450000e+03  5.738000e+03  4.693000e+03
mean   2.319334e-15 -2.628137e-16 -4.635232e-16 -5.634314e-17 -3.706579e-16
std    1.000093e+00  1.000088e+00  1.000092e+00  1.000087e+00  1.000107e+00
min   -3.987384e-01 -2.095117e+00 -6.861694e-01 -2.100611e+00 -3.866536e+00
25%   -3.987384e-01 -7.534696e-01 -6.861694e-01 -6.210362e-01 -5.394693e-01
50%   -3.987384e-01 -7.341987e-02 -1.076386e-01 -1.278447e-01  1.207263e-01
75%   -3.987384e-01  6.036654e-01  4.708922e-01  4.639851e-01  6.072932e-01
max    1.290903e+01  1.152026e+01  9.148855e+00  4.902709e+00  1.971115e+01

In [16]:
#Oh so standard! Let's bring back the target and categorical variables that couldn't be normalized.

Y_STD[ "TARGET_BAD_FLAG" ] = df.TARGET_BAD_FLAG
Y_STD[ "TARGET_LOSS_AMT" ] = df.TARGET_LOSS_AMT
Y_STD[ "REASON" ] = df.REASON
Y_STD[ "JOB" ] = df.JOB
print( Y_STD.head() )
print( "\n")

   std_LOAN  std_MORTDUE  std_VALUE   std_YOJ  std_DEROG  std_DELINQ  \
0 -1.562299    -1.077548  -1.093588  0.208329  -0.300922   -0.398738
1 -1.544453    -0.083409  -0.581658 -0.253822  -0.300922    1.375631
2 -1.526606    -1.355591  -1.482655 -0.649951  -0.300922   -0.398738
3 -1.526606          NaN        NaN       NaN        NaN         NaN
4 -1.508759     0.540771   0.178177 -0.781994  -0.300922   -0.398738

   std_CLAGE  std_NINQ  std_CLNO  std_DEBTINC  TARGET_BAD_FLAG  \
0  -0.995304 -0.107639 -1.212866          NaN                1
1  -0.675189 -0.686169 -0.719675          NaN                1
2  -0.353132 -0.107639 -1.114228          NaN                1
3        NaN       NaN       NaN          NaN                1
4  -1.007348 -0.686169 -0.719675          NaN                0

   TARGET_LOSS_AMT   REASON     JOB
0            641.0  HomeImp   Other
1           1109.0  HomeImp   Other
2            767.0  HomeImp   Other
3           1425.0      NaN     NaN
4              NaN  HomeImp  Office

In [17]:
#let's standardize without using the scaler to show how to do it by "hand"

Y_NEW = pd.concat([ X , Y_STD ], axis=1 )

Y_TEST = Y_NEW[ [ "LOAN", "std_LOAN" ] ]
print( Y_TEST.head() ) 
print( "\n\n")
print( Y_TEST["LOAN"].describe() )
print( "\n\n")
TEMP = ( Y_TEST["LOAN"] - 18607.969799 ) / 11207.480417
Y_TEST = Y_TEST.assign( calc_LOAN = TEMP.values )
print( Y_TEST.head() ) 
print( "\n\n")

   LOAN  std_LOAN
0  1100 -1.562299
1  1300 -1.544453
2  1500 -1.526606
3  1500 -1.526606
4  1700 -1.508759



count     5960.000000
mean     18607.969799
std      11207.480417
min       1100.000000
25%      11100.000000
50%      16300.000000
75%      23300.000000
max      89900.000000
Name: LOAN, dtype: float64



   LOAN  std_LOAN  calc_LOAN
0  1100 -1.562299  -1.562168
1  1300 -1.544453  -1.544323
2  1500 -1.526606  -1.526478
3  1500 -1.526606  -1.526478
4  1700 -1.508759  -1.508633